node_modules
dist
.env
.idea
.vscode

01-Baby-Name-Generator/node_modules
01-Baby-Name-Generator/.env
01-Baby-Name-Generator/.idea
01-Baby-Name-Generator/.vscode
01-Baby-Name-Generator/dist
01-Baby-Name-Generator/.nuxt

02-Top-Restaurants/node_modules
02-Top-Restaurants/dist
02-Top-Restaurants/.nuxt
02-Top-Restaurants/.env
02-Top-Restaurants/.idea
02-Top-Restaurants/.vscode

03-DarkMode/node_modules
03-DarkMode/dist
03-DarkMode/.nuxt
03-DarkMode/.env
03-DarkMode/.idea
03-DarkMode/.vscode

04-weatherApp/node_modules
04-weatherApp/dist
04-weatherApp/.nuxt
04-weatherApp/.env
04-weatherApp/.idea
04-weatherApp/.vscode

05-TodoApp/node_modules
05-TodoApp/dist
05-TodoApp/.nuxt
05-TodoApp/.env
05-TodoApp/.idea
05-TodoApp/.vscode

06-NotesApp/node_modules
06-NotesApp/dist
06-NotesApp/.nuxt
06-NotesApp/.env
06-NotesApp/.idea
06-NotesApp/.vscode
