node_modules
dist
.env
.idea
.vscode

01-Baby-Name-Generator/node_modules
01-Baby-Name-Generator/.env
01-Baby-Name-Generator/.idea
01-Baby-Name-Generator/.vscode
01-Baby-Name-Generator/dist
01-Baby-Name-Generator/.nuxt

02-Top-Restaurants/node_modules
02-Top-Restaurants/dist
02-Top-Restaurants/.nuxt
02-Top-Restaurants/.env
02-Top-Restaurants/.idea
02-Top-Restaurants/.vscode